* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import './_partials/breakpoints';
@import './_partials/colors';
@import './_partials/layout';
@import './_partials/forms';
@import './_partials/buttons';
@import './_partials/cards';
@import './_partials/error';
@import './_partials/message';
@import './_partials/alert';

// fonts

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

// includes

@import './includes/menu';
@import './includes/footer';

// views

@import './home';
@import './admin/index';
@import './404';

// blog css

@import 'admin/blogs/index';
@import 'admin/blogs/create';
@import 'admin/blogs/blog';

// events css

@import 'admin/events/index';
@import 'admin/events/create';
@import 'admin/events/event';

// site content

@import 'admin/siteContents/index';

// users css

@import 'admin/users/index';

// account css

@import 'admin/account/index';