extends ../layout
block content
    .user
            h1 welcome
                span  #{currentUser.username}
            img(src="images/"+currentUser.image)
            div
            case currentUser.role
                when "ROLE_ADMIN"
                    p one of the best of the bests . Hello ,
                        strong  Admin!
                when "ROLE_USER"
                    p someone needs to be validate . hello ,
                        strong user!
                when "ROLE_SUPERADMIN"
                    p look like you got super power . Hello ,
                        strong super admin!
