form(class="events-form" method="post" enctype="multipart/form-data" action="/admin/events/")
    label name
        input(type="text" name="name")
    label address
        input(type="text" name="address")
    label link
        input(type="text" name="link")
    label date
        input(type="date" name="date")
    label end date
        input(type="date" name="endDate")
    label image
        input(type="file" name="image")
    button(class="btn") valider