extends ../../layout
block content
    .event-page
        form(method="post" action="/admin/events/update/" + event._id enctype="multipart/form-data")
            img(src="/images/events/" + event.image + "")
            input(type="file" name="image")
            label name
                input(type="text" value=`${event.name}` name="name")
            label date
                input(type="date" value=`${event.date.toISOString().substring(0, 10)}` name="date")
            label address
                input(type="text" value=event.address name="address")
            button(class="btn") valider
block script
    script(src="/javascripts/event.js")