extends ../../layout
block content
    .events-page
        .topbar
            h1 events pannel
            .btn create new event
            .message message
        hr
        each ev in events
            .events-container
                img(src="/images/events.jpg" style="height:150px")
                .event
                    div="Event Name : "+ev.name
                    div="Date : "+ev.date
                    div="Adress : "+ev.address
                    div="from : "+ev.planning.from+" to : "+ev.planning.to
                .action
                    .btn Edit
                    .btn Delete
            hr