extends ../../layout
block content
    .events-page
        .topbar
            h1 events pannel
            .btn create new event
            .message message
        hr
        each ev in events
            .events-container(id=ev._id)
                img(src="/images/events/" + ev.image style="width:250px;height:15Opx;")
                .event
                    div="Event Name : " + ev.name
                    div="Date : " + ev.date.toISOString().substr(0, 10)
                    div="Address : " + ev.address
                .action
                    .btn Edit
                    .btn Delete
            hr
        .overlay
            .overlay-content
                .close
                    i(class="fa-duotone fa-2x fa-xmark")
                include create
    block script
        script(src="/javascripts/events.js")