.blog {
  width: 100%;

  .topbar {
    width: 100% !important;
    border-bottom: 1px solid $gray-light-3;
    margin-top: 15px;
    margin-bottom: 15px;

    h1 {
      text-align: center;
    }

    .flex {
      margin-top: 15px;
      margin-bottom: 15px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;

      hr {
        margin-left: 5px;
        margin-right: 5px;
      }

      .btn {
        font-weight: bold;

        svg {
          margin-right: 5px;
          border: 1px solid $gray-dark-8;
          border-radius: 50%;
          padding: 4px 5px;
        }
      }

      .stats {
        display: flex;
        border-radius: 5px;
        padding: 10px;
        border: 1px solid $gray-light-3;
        @media (min-width: $breakpoint-tablet) {
          margin-left: auto;
        }
      }

      .message {
        display: flex;
        justify-content: center;
        margin-top: 5px;
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid $gray-light-3;
      }
    }
  }

  .blog-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    @media (min-width: $breakpoint-tablet) {
      flex-direction: row;
    }
  }

  .overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 211, 211, 0.9);
    color: $gray-light-6;
    top: 0;
    left: 0;

    .overlay-content {
      width: 90%;
      height: 80%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      background-color: $gray-dark-6;

      .close {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 15px;
        margin-top: 15px;
        color: white;
        cursor: pointer;

        :hover {
          transition: all 0.2s ease-in-out;
          color: $red-dark;
        }
      }
    }
  }
}