nav(class="menu")
    ul(class="wrapper")
        li
            a
                img(src="/images/logo.png")

        if currentUser

            li
                a(href="/")
                 i(class="fa-duotone fa-home")
                 .
                    Home
            li
                 a(href="/admin/blogs")
                  i(class="fa-duotone fa-newspaper")
                  .
                     Blog
            li
                a(href="/admin/events")
                 i(class="fa-duotone fa-calendar-days")
                 .
                    Events

            if currentUser.role === 'ROLE_ADMIN'

                li
                    a(href="/admin/siteContents")
                     i(class="fa-duotone fa-browser")
                     .
                        Content
                li
                   a(href="/admin/users")
                    i(class="fa-duotone fa-clipboard-user")
                    .
                       Users
                li
                    a(class="btn" href="/admin/logout")
                     i(class="fa-duotone fa-right-from-bracket")
                     .
                      logout