nav(class="menu")
    ul(class="wrapper")
        li
            a
                img(src="https://previews.123rf.com/images/deniaz/deniaz2001/deniaz200100234/138923282-a-logo-design-about-fake-news-fake-news-logo-fake-news-tag-vector-illustration.jpg")

        if currentUser

            li
                a(href="/") Home
            li
                 a(href="/admin/blogs") Blog
            li
                a(href="/admin/events") Events

            if currentUser.role === 'ROLE_ADMIN'

                li
                    a(href="/admin/siteContents") Content
                li
                   a(href="/admin/users") Users
                li
                    a(class="btn" href="/admin/logout") logout