@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: #f1f1f3;
  color: #1e1f26;
}

body {
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #1e1f26;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1280px;
  padding-right: 10px;
  padding-left: 10px;
}

.content {
  flex: 1 0 auto;
}

form input, form textarea {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background: none;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 7.5px 15px;
  font-size: 16px;
  color: #0a0a0c;
  border-bottom: 1px solid #c7c9d3;
  outline: none;
}
form input[type=file] {
  padding: 7.5px 0;
  font-size: 10px;
}
@media (min-width: 768px) {
  form input[type=file] {
    font-size: 16px;
  }
}
form textarea {
  resize: none;
}
form label {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
}
form input:focus, form textarea:focus {
  border-top: 0;
  outline: 1px solid #c7c9d3;
  -moz-outline-radius: 5px;
  border-left: 0;
  border-right: 0;
}
form button {
  font-size: 16px;
  font-weight: bold;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #c7c9d3;
  transition: 0.5s ease;
}
.btn:hover {
  background-color: #0a0a0c;
  border: 1px solid #0a0a0c;
  color: #f1f1f3;
}

.card {
  position: relative;
  width: 90%;
  margin: 15px;
  padding: 15px;
  background-color: #f1f1f3;
  border: 1px solid #c7c9d3;
  border-radius: 5px;
  padding-top: 150px;
}
.card:hover {
  transition: 0.2s ease;
  transform: translate(2px, -2px);
  box-shadow: -5px 5px 12px 0px #C4C4C4;
}
@media (min-width: 768px) {
  .card {
    width: 350px;
  }
}
.card img {
  position: absolute;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
}
.card h2 {
  position: relative;
  margin-top: 15px;
  width: 100%;
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card h4 {
  margin-bottom: 5px;
  text-overflow: ellipsis;
}
.card div {
  margin-top: 15px;
}
.card div .btn {
  margin-top: 5px;
}
.card div .btn:nth-child(1) {
  border: 1px solid #248c46;
  background-color: #f1f1f3;
  color: #248c46;
}
.card div .btn:nth-child(1):hover {
  background-color: #248c46;
  color: #f1f1f3;
}
.card div .btn:nth-child(2) {
  background-color: #f1f1f3;
  border: 1px solid #a00808;
  color: #a00808;
}
.card div .btn:nth-child(2):hover {
  background-color: #a00808;
  color: #f1f1f3;
}

.menu {
  width: 100%;
  font-weight: bold;
  height: 75px !important;
  background-color: #0a0a0c;
  flex-shrink: 0;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.63);
}
.menu ul {
  max-width: 1280px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul li {
  display: none;
  padding-left: 10px;
  padding-right: 10px;
}
.menu ul li :hover {
  transition: 0.5s ease;
  color: #f1f1f3;
}
@media (min-width: 768px) {
  .menu ul li {
    display: initial;
  }
}
.menu ul li a {
  display: block;
  height: 100%;
  text-transform: uppercase;
  color: #c7c9d3;
}
.menu ul li a svg {
  margin-right: 5px;
  margin-bottom: 1px;
}
.menu ul li .btn {
  background-color: #f1f1f3;
  border: 1px solid #a00808;
  color: #a00808;
}
.menu ul li .btn:hover {
  background-color: #a00808;
  color: #f1f1f3;
}
.menu ul li:first-child {
  margin-right: auto;
  display: initial;
}
.menu ul li:first-child a img {
  width: auto;
  height: 50px;
}
.menu ul li:last-child {
  display: initial;
}

.p-footer {
  flex-shrink: 0;
  height: 100px;
  width: 100%;
  color: #f1f1f3;
  margin-top: 15px;
  background-color: #1e1f26;
}

.home {
  width: 100%;
  height: calc(100vh - 75px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.home div {
  width: 500px;
  height: 600px;
}
.home div h1 {
  text-align: center;
  margin-bottom: 10px;
}
.home div form {
  display: flex;
  flex-direction: column;
}
.home div form input {
  margin-top: 5px;
  margin-bottom: 5px;
}
.home div form button {
  margin-top: 5px;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.user h1 {
  text-align: center;
}
.user h1 span {
  color: #0ebeff;
}
.user img {
  margin-top: 50px;
  width: 200px;
  height: auto;
  margin-bottom: 50px;
}

.blog {
  width: 100%;
}
.blog .topbar {
  width: 100% !important;
  border-bottom: 1px solid #c7c9d3;
  margin-top: 20px;
  margin-bottom: 15px;
}
.blog .topbar h1 {
  text-align: center;
}
.blog .topbar .flex {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.blog .topbar .flex hr {
  margin-left: 5px;
  margin-right: 5px;
}
.blog .topbar .flex .btn {
  font-weight: bold;
}
.blog .topbar .flex .btn svg {
  margin-right: 5px;
  border: 1px solid #0a0a0c;
  border-radius: 50%;
  padding: 4px 5px;
}
.blog .topbar .flex .stats {
  display: flex;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #c7c9d3;
}
@media (min-width: 768px) {
  .blog .topbar .flex .stats {
    margin-left: auto;
  }
}
.blog .topbar .flex .message {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #c7c9d3;
}
.blog .blog-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .blog .blog-content {
    flex-direction: row;
    justify-content: space-around;
  }
}
.blog .overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.9);
  color: #f1f1f3;
  top: 0;
  left: 0;
}
.blog .overlay .overlay-content {
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #1e1f26;
}
.blog .overlay .overlay-content .close {
  position: absolute;
  top: 11%;
  left: 6%;
  color: white;
  cursor: pointer;
}
.blog .overlay .overlay-content .close :hover {
  transition: all 0.2s ease-in-out;
  color: #a00808;
}

.createPost {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  height: 80%;
}
.createPost label {
  margin-bottom: 7.5px;
  margin-top: 7.5px;
}
.createPost textarea {
  height: 50%;
}
.createPost button {
  margin-top: 15px;
  width: 200px;
  background: none;
  color: #c7c9d3;
}

.blog-page {
  width: 100%;
}
.blog-page form {
  margin-top: 15px;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.blog-page form input[type=file] {
  display: none;
}
.blog-page form label {
  display: flex;
  flex-direction: column;
}
.blog-page form label textarea {
  height: 300px;
}
.blog-page form .img-container {
  position: relative;
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
  background-color: #0a0a0c;
}
.blog-page form .img-container img {
  height: 200px;
  cursor: pointer;
  width: 100%;
  object-fit: contain;
}
.blog-page form .img-container .button {
  position: absolute;
  top: 80%;
  left: 1%;
  cursor: pointer;
  color: #f1f1f3;
}
.blog-page form .img-container .button:hover {
  color: #c7c9d3;
}
.blog-page form .btn {
  margin-top: 15px;
  width: 300px;
}
.blog-page form p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.events-page .topbar {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  border-bottom: 1px solid #c7c9d3;
}
.events-page .topbar .btn {
  margin-top: 5px;
  font-weight: bold;
  margin-bottom: 15px;
}
.events-page .topbar .btn svg {
  margin-right: 5px;
  border: 1px solid #0a0a0c;
  border-radius: 50%;
  padding: 4px 5px;
}
.events-page .topbar h1 {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}
.events-page .topbar .message {
  width: 70%;
  margin-top: 5px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #c7c9d3;
}
@media (min-width: 768px) {
  .events-page .topbar .message {
    margin-left: auto;
  }
}
.events-page .events-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.events-page .events-container img {
  margin-right: auto;
}
.events-page .events-container .event {
  margin-right: auto;
}
.events-page .events-container .event div {
  margin-top: 5px;
  margin-bottom: 5px;
}
.events-page .events-container .action {
  display: flex;
}
.events-page .events-container .action .btn {
  margin-top: 5px;
  margin-left: 5px;
}
.events-page .overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.9);
  color: #f1f1f3;
  top: 0;
  left: 0;
}
.events-page .overlay .overlay-content {
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #1e1f26;
}
.events-page .overlay .overlay-content .close {
  position: absolute;
  top: 11%;
  left: 6%;
  color: white;
  cursor: pointer;
}
.events-page .overlay .overlay-content .close :hover {
  transition: all 0.2s ease-in-out;
  color: #a00808;
}

.events-form {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.events-form label {
  display: flex;
  flex-direction: column;
}
.events-form .btn {
  background: none;
  width: 300px;
  color: #c7c9d3;
}
.events-form .btn:hover {
  color: #3d88c3;
}

.event-page {
  width: 100%;
}
.event-page form {
  margin-top: 15px;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.event-page form input[type=file] {
  display: none;
}
.event-page form label {
  display: flex;
  flex-direction: column;
}
.event-page form label textarea {
  height: 300px;
}
.event-page form .img-container {
  position: relative;
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
  background-color: #0a0a0c;
}
.event-page form .img-container img {
  height: 200px;
  cursor: pointer;
  width: 100%;
  object-fit: contain;
}
.event-page form .img-container .button {
  position: absolute;
  top: 80%;
  left: 1%;
  cursor: pointer;
  color: #f1f1f3;
}
.event-page form .img-container .button:hover {
  color: #c7c9d3;
}
.event-page form .btn {
  margin-top: 15px;
  width: 300px;
}
.event-page form p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.users-page .topbar {
  margin-top: 15px;
}
.users-page .topbar h1 {
  text-align: center;
}
.users-page .table {
  width: 100%;
  display: flex;
  justify-content: center;
}
.users-page .table table {
  margin-top: 30px;
  width: 100%;
  border-collapse: collapse;
}
.users-page .table table th {
  padding-bottom: 15px;
  border-bottom: 1px solid #c7c9d3;
}
.users-page .table table th:nth-child(2), .users-page .table table th:nth-child(3) {
  display: none;
}
@media (min-width: 768px) {
  .users-page .table table th:nth-child(2), .users-page .table table th:nth-child(3) {
    display: table-cell;
  }
}
.users-page .table table tr {
  height: 50px;
}
.users-page .table table td {
  border-bottom: 1px solid #c7c9d3;
  text-align: center;
}
.users-page .table table td:nth-child(2), .users-page .table table td:nth-child(3) {
  display: none;
}
@media (min-width: 768px) {
  .users-page .table table td:nth-child(2), .users-page .table table td:nth-child(3) {
    display: table-cell;
  }
}
.users-page .table table td .custom-select {
  position: relative;
  padding: 5px;
}
.users-page .table table td .custom-select select {
  display: none;
}
.users-page .table table td .custom-select:hover {
  transition: all 0.5s ease;
  border-color: #0a0a0c;
}
.users-page .table table td .custom-select:hover .selected {
  transition: all 0.5s ease;
  color: #0a0a0c;
}
.users-page .table table td .custom-select:hover .selected i {
  transition: all 0.5s ease;
  color: #0a0a0c;
}
.users-page .table table td .custom-select .selected {
  width: 100%;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.users-page .table table td .custom-select .selected i {
  color: silver;
  position: absolute;
  margin: 1px;
  left: 94%;
}
.users-page .table table td .custom-select .drop {
  width: 100%;
  height: 60px;
  position: absolute;
  overflow-y: scroll;
  cursor: pointer;
  display: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  flex-direction: column;
  align-items: center;
  top: 140%;
  left: -1px;
  background-color: #f1f1f3;
  border: 1px solid #c7c9d3;
  scrollbar-color: #c7c9d3 #f1f1f3;
}
.users-page .table table td .custom-select .drop span {
  text-align: center;
  width: 100%;
  padding: 5px 0px;
}
.users-page .table table td .custom-select .drop span:first-child {
  border-top-left-radius: 4px;
}
.users-page .table table td .custom-select .drop span:last-child {
  border-bottom-left-radius: 4px;
}
.users-page .table table td .custom-select .drop span:hover {
  color: white;
  background-color: #0a0a0c;
}
.users-page .table table td .custom-select .d-block {
  display: flex;
}
.users-page .table table td .custom-select .r-180 {
  animation-duration: 0.5s;
  animation-name: rotate;
  animation-fill-mode: forwards;
}
.users-page .table table td .custom-select .r-180-none {
  animation-duration: 0.5s;
  animation-name: invert-rotate;
  animation-fill-mode: forwards;
}
.users-page .table table td .btn {
  width: 100%;
  padding: 5px;
  background-color: #f1f1f3;
  border: 1px solid #a00808;
  color: #a00808;
}
.users-page .table table td .btn:hover {
  background-color: #a00808;
  color: #f1f1f3;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes invert-rotate {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/*# sourceMappingURL=style.css.map */
