.account-page{
  margin-top: 30px;

  .topbar{
    padding-bottom: 30px;
    h1{
      text-align: center;
    }
  }
  .account-content{
    form{
      display: flex;
      flex-direction: column;
      label{
        display: flex;
        flex-direction: column;
      }
    }
  }
}