.users-page {
  .topbar {
    margin-top: 15px;

    h1 {
      text-align: center;
    }
  }

  .table {
    width: 100%;
    display: flex;
    justify-content: center;

    table {
      margin-top: 30px;
      width: 100%;
      border-collapse: collapse;

      th {
        padding-bottom: 15px;
        border-bottom: 1px solid $gray-light-3;

        &:nth-child(2), &:nth-child(3) {
          display: none;
        }

        @media (min-width: $breakpoint-tablet) {
          &:nth-child(2), &:nth-child(3) {
            display: table-cell;
          }
        }
      }

      td {
        border-bottom: 1px solid $gray-light-3;
        text-align: center;


        &:nth-child(2), &:nth-child(3) {
          display: none;
        }

        @media (min-width: $breakpoint-tablet) {
          &:nth-child(2), &:nth-child(3) {
            display: table-cell;
          }
        }

        select {
          text-align: center;
          -webkit-appearance: none;
          -moz-appearance: none;
          cursor: pointer;
          background-color: $gray-light-6;
          text-indent: 0.01px;
          text-overflow: '';
          width: 120px;
          height: 50px;
          border: none;
          option{
            width: 100%;
            border: 1px solid black;
          }
        }

        .btn {
          width: 100%;
          padding: 5px;
          @include btn-red
        }
      }
    }
  }
}