.events-form {
  display: flex;
  flex-direction: column;
  width: 80%;


  label {
    display: flex;
    flex-direction: column;
    input{
      color:$gray-light-6;
    }
  }

  .btn {
    background: none;
    color: $gray-light-3;
    @media (min-width: $breakpoint-tablet){
      width: 300px;
    }

    &:hover {
      color: $blue-dark;
    }
  }

}