.event-page {
  width: 100%;

  form {
    margin-top: 15px;
    display: flex;
    width: 100%;
    flex-direction: column;

    input[type="file"] {
      display: none;
    }

    label {
      display: flex;
      flex-direction: column;

      textarea {
        height: 300px;
      }
    }

    .img-container{
      position: relative;
      display: flex;
      margin-bottom: 15px;
      justify-content: center;
      align-items: center;
      background-color: $gray-light-1;
      img {
        height: 200px;
        cursor: pointer;
        width: 100%;
        object-fit: contain;
      }
      .button{
        position: absolute;
        top: 80%;
        left: 1%;
        cursor: pointer;
        color: $gray-light-6;
        &:hover{
          color: $gray-light-3;
        }
      }
    }

    .btn {
      margin-top: 15px;
      width: 300px;
    }

    p {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}