select
    option(value="ROLE_USER")
        i(class="fa-duotone fa-angle-down")
        .
            ROLE_USERs
    option(value="ROLE_ADMIN")
        i(class="fa-duotone fa-angle-down")
        .
            ROLE_ADMIN
    option(value="ROLE_SUPERADMIN")
        i(class="fa-duotone fa-angle-down")
        .
            ROLE_SUPERADMIN