.blog{
  width: 100%;
  .topbar{
    width:100% !important;
    border-bottom: 1px solid $gray-light-3;
    margin-top: 20px;
    margin-bottom: 15px;
    h1{
      text-align: center;
    }
    .flex{
      margin-top: 15px;
      margin-bottom: 15px;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: center;
      hr{
        margin-left: 5px;
        margin-right: 5px;
      }
      .stats{
        display: flex;
      margin-left: auto;
      border-radius: 5px;
      padding: 10px;
      border: 1px solid $gray-light-3;
       }
    }
  }
  .blog-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    @media (min-width: $breakpoint-tablet){
      flex-direction: row;
      justify-content: space-around;
    }
    }
  }