.menu{
  width:100%;
  font-weight: bold;
  height: 75px;
  border-bottom: 1px solid $gray-light-3;
  ul{
    max-width: 1280px;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    li{
      padding-left: 10px;
      padding-right: 10px;
      a{
        text-transform: uppercase;
      }
    }
    li:first-child{
      margin-right: auto;
      a {
        img{
          width: auto;
          height: 50px;
        }
      }
    }
  }
}