extends ../../layout
block content
    .blog-page
        form(method="post" action="/admin/blogs/update/" + blog._id enctype="multipart/form-data")
            img(src="/images/blogs/resized/" + blog.image + "")
            input(type="file" name="image")
            label title
                input(type="text" value=`${blog.title}` name="title")
            label content
                textarea(name="content")=blog.content
            p="Author : " + blog.author.username
            p="Date : " + blog.created
            button(class="btn") valider
block script
    script(src="/javascripts/blog.js")
