extends ../../layout
block content
    .blog
        .topbar
            h1 Blog pannel
            .flex
                .btn
                    i(class="fa-duotone fa-plus")
                    .
                        create new post
                .stats
                    div=blogs.length + " posts"
        .blog-content
            each blog in blogs
                .card(id=`${blog._id}`)
                    img(src="/images/blogs/resized/" + blog.image)
                    h2=blog.title
                    h4="author : " + blog.author.username
                    div
                        if blog.author._id = currentUser._id
                            .btn edit
                        .btn delete
        .overlay
            .overlay-content
                .close
                    i(class="fa-duotone fa-2x fa-xmark")
                include create

    block script
        script(src="/javascripts/blogs.js")