extends ../../layout
block content
    .blog
        .topbar
            div
                #{blogs.length} posts
                .btn create new post
        .blog-content
                each blog in blogs
                    .card
                         img(src="/images/" + blog.image)
                         p=blog.title
                         p=blog.created
                         h3="author : "+blog.author.username
                         div
                            if blog.author._id = currentUser._id
                                .btn edit
                            .btn delete

