extends ../../layout
block content
    .blog
        .topbar
            div
                #{blogs.length} posts
                .btn create
        .blog-content
                each blog in blogs
                    .card
                         img(src="/images/" + blog.image)
                         p=blog.title
                         p=blog.created
                         h3=blog.author.username
                         div
                           .btn edit
                           .btn delete

